# All fields in a unit file are case sensitive.

[Unit]
Description=Test
After=multi-user.target


[Service]
# 'simple' is the default type, so the next line is commented out.
# Type=simple

User=lukovna
Group=lukovna

# In case a user logs out,
# the script execution will continue after their login
Restart=always
# Restart=on-failure
RestartSec=3


# The first way of exporting the environment allows to use the regular form
# of notifications in notify-send. But it hangs on the second notification
# if the user is idle. So, the second way is preferable.

# Curiously, exporting just the display variable makes notifications
# a bit smaller and appear on the left of the screen that is in focus.

# EnvironmentFile=-/home/lukovna/Workspace/memo/env.ctl
Environment="DISPLAY=:0"

WorkingDirectory=/home/lukovna/Workspace/memo/base
# '-' in the line above ensures that no error is generated
# if the env.file doesn't exist.

ExecStart=/home/lukovna/miniconda/bin/python \
/home/lukovna/Workspace/memo/base/main.py \
/home/lukovna/Workspace/memo/trash/dict


[Install]
WantedBy=multi-user.target
